:root {
  --green-color-1: #25433c;
  --green-color-2: #93b1aa;
  --green-color-3: #1e3d35;
}

header {
  border-bottom: 2px solid var(--green-color-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 30;
}

#banner {
  padding-top: 72.13px;
}
#banner .banner__content {
  position: relative;
}
#banner .banner__content .banner__content--arrow {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 1rem;
  transition: all 0.2s;
}
#banner .banner__content .banner__content--arrow:hover ion-icon {
  animation: bannerarrow 0.5s forwards;
}
#banner .slick-prev {
  display: none;
}
#banner .slick-next {
  right: 1rem;
  color: white;
}
#banner .slick-next::before {
  font-family: FontAwesome;
  content: "\f054";
  display: inline-block;
}
#banner .slick-next:hover::before {
  animation: bannerarrow 0.5s forwards;
}

#content .content__information a h2 {
  color: var(--green-color-3);
  font-size: 1.3rem;
  transition: all 0.7s;
}
#content .content__information a p {
  color: var(--green-color-3);
  font-size: 0.65rem;
  transition: all 0.7s;
  font-weight: 700;
}
#content .content__information .portfolio-2 {
  position: relative;
}
#content .content__information .portfolio-2 .slick-next {
  position: absolute;
  top: 29%;
  right: 0.2rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 100px;
  opacity: 0.8;
}
#content .content__information .portfolio-2 .slick-next::before {
  font-family: FontAwesome;
  content: "\f054";
  display: inline-block;
  font-size: 0.8rem;
  color: black;
}
#content .content__information .portfolio-2 .slick-next:hover::before {
  animation: bannerarrow 0.5s forwards;
}
#content .content__information .portfolio-2 .slick-prev {
  position: absolute;
  top: 29%;
  left: 0.2rem;
  z-index: 30;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 100px;
  opacity: 0.8;
}
#content .content__information .portfolio-2 .slick-prev::before {
  font-family: FontAwesome;
  content: "\f053";
  display: inline-block;
  font-size: 0.8rem;
  color: black;
}
#content .content__information .portfolio-2 .slick-prev:hover::before {
  animation: bannerarrow2 0.5s forwards;
}
#content .content__news .content__news--sub {
  color: white;
}
#content .content__news .content__news--sub button {
  width: 20%;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .content__news .content__news--sub button span {
  z-index: 10;
  position: relative;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
}
#content .content__news .content__news--sub button::after {
  content: "";
  position: absolute;
  background: #ff7600;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.8s;
  z-index: 2;
}
#content .content__news .content__news--sub button:hover::after {
  width: 100%;
}
#content .content__news .content__news--sub button:hover ion-icon {
  animation: bannerarrow 0.5s forwards;
}
#content .content__news .content__news--content .slick-vertical .slick-slide {
  display: flex;
}
#content .content__news .content__news--content img {
  aspect-ratio: 1;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
#content .content__news .content__news--content .rightside {
  height: 100%;
}
#content .content__news .content__news--content .rightside .right-line button:hover ion-icon {
  animation: arrowupdown 0.5s forwards;
}
#content .content__news .content__news--content .rightside .carousel-vertical .slick-next {
  position: absolute;
}
#content .content__news .content__news--content .rightside .carousel-vertical .slick-next::before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
}
#content .content__news .content__news--content .content-hover .project-type {
  position: relative;
  z-index: 20;
}
#content .content__news .content__news--content .content-hover .project-type::after {
  content: "";
  position: absolute;
  background: #ff7600;
  border-radius: 15px;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.8s;
  z-index: -2;
}
#content .content__news .content__news--content .content-hover:hover img {
  transform: scale(1.2);
}
#content .content__news .content__news--content .content-hover:hover .project-type::after {
  width: 100%;
}

#subsidairy {
  position: relative;
  z-index: 1000;
}

footer {
  background-image: url("../img/leaf-footer-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
footer .rightside button {
  position: relative;
}
footer .rightside button p {
  z-index: 10;
  font-weight: 700;
}
footer .rightside button::after {
  content: "";
  position: absolute;
  background: #ff7600;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.8s;
  z-index: 2;
  border-radius: 3px;
}
footer .rightside button:hover::after {
  width: 100%;
}
footer .rightside .careers-animation:hover {
  animation: careers-animation 2s infinite;
}

#backToTop {
  display: inline-block;
  border-radius: 4px;
  position: fixed;
  bottom: 83px;
  right: 1rem;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transform: rotate(90deg);
  color: white;
}
#backToTop:hover {
  cursor: pointer;
  color: var(--green-color-2);
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

@keyframes bannerarrow {
  49% {
    transform: translateX(100%) translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%) translateY(0);
  }
  51% {
    opacity: 1;
  }
}
@keyframes bannerarrow2 {
  49% {
    transform: translateX(-100%) translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
  51% {
    opacity: 1;
  }
}
@keyframes arrowupdown {
  49% {
    transform: translateX(0) translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0) translateY(-50%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes careers-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  #content {
    background-image: url("../img/green-bg.jpg");
  }
  #content .content__information a h2 {
    font-size: 1rem;
  }
  #content .content__information a h2 {
    color: white;
  }
  #content .content__information a p {
    color: white;
  }
  #content .content__information a:hover h2 {
    color: var(--green-color-2);
  }
  #content .content__information a:hover p {
    color: var(--green-color-2);
  }
  #content .content__news--content .rightside {
    height: 100%;
  }
  #content .content__news--content .rightside .text-info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  header {
    border-bottom: 2px solid var(--green-color-1);
  }
  header nav .menu-bar {
    font-size: 0.9rem;
  }
  header nav .menu-bar .menu-bar__above {
    color: var(--green-color-3);
    font-size: 0.8rem;
  }
  header nav .menu-bar .menu-bar__above div a:hover {
    color: var(--green-color-2);
  }
  header nav .menu-bar .menu-bar__above div span {
    cursor: pointer;
  }
  header nav .menu-bar .menu-bar__above div span:hover {
    color: var(--green-color-2);
  }
  header nav .menu-bar .menu-bar__below ul li {
    position: relative;
  }
  header nav .menu-bar .menu-bar__below ul li::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    background-color: #1e3d35;
    transition: all 0.3s;
  }
  header nav .menu-bar .menu-bar__below ul li:hover::after {
    width: 100%;
  }
  #banner {
    padding-top: 0;
    transform: translateY(100px);
  }
  #banner .banner__content--arrow {
    font-size: 32px;
  }
  #content {
    background-image: url("../img/green-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  #content .content__information {
    position: relative;
    z-index: 20;
  }
  #content .content__information a p {
    font-size: 0.8rem;
  }
  #content .content__information .content__information--portfolio {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
    transition: all 0.8s;
  }
  #content .content__information .content__information--portfolio:hover {
    transform: translate(0, -20px);
    background-size: 330%;
  }
  #content .content__information .content__information--portfolio:hover img {
    scale: 1.2;
  }
  #content .content__information .portfolio-1 {
    background-image: url("../img/iStock-1150277961.jpg");
  }
  #content .content__information .portfolio-2 .slick-next {
    top: 50%;
  }
  #content .content__information .portfolio-2 .slick-prev {
    top: 50%;
  }
  #content .content__information .portfolio-2 .item-carousel {
    position: relative;
  }
  #content .content__information .portfolio-2 .item-carousel .item-carousel__content {
    position: absolute;
    top: 0.8rem;
    padding-left: 1rem;
  }
  #content .content__information .portfolio-3 {
    background-image: url("../img/iStock-1416448055.jpg");
  }
  #content .content__news .content__news--sub button {
    display: flex;
    align-items: center;
  }
  #content .content__news .content__news--sub button span {
    font-size: 1rem;
  }
  #subsidairy {
    position: relative;
    overflow: hidden;
  }
  #subsidairy .slick-dots {
    position: absolute;
    top: -68px;
    right: -34%;
  }
}/*# sourceMappingURL=index.css.map */